.contain, .header-container
  min-width 1220px
  margin 0 auto
  width 95%
  transition width 500ms ease-in
  @media medium
    width 87%

.roots, .header-container
  margin 0 auto
  max-width 1550px

.cl
  clear both

.right
  float right

.left
  float left

.list-inline
  li
    list-style-type none
    display inline-block

.padding-reset
  padding 0 !important

.visibility-hidden
  visibility hidden

$sidebar
  width sidebar-width

.sidebar-left
  @extends $sidebar
  float left
  margin-right left-gutter-small-width

.sidebar-right
  @extends $sidebar
  float right
  margin-left right-gutter-small-width

@css {
  .main-content {
    width: calc(100%  - 280px)
  }

  .two-sidebars .main-content {
    width: calc(100% - 560px)
  }
}

.main-content
  display inline-block
  vertical-align top

.warning
  color red
  font-size 13px
  margin-top 20px
  background rgb(255, 232, 232)
  padding 10px
  text-align center
  border solid 1px rgb(255, 118, 118)
