fullscreen-toggle
  font-size 11px
  margin-right 10px
  cursor pointer
  color base-step4
  position relative
  top -3px

  i
    padding 3px

    &:hover
      opacity 0.8

    &.active
      color white
      background-color action-blue

.fullscreen
  .sidebar-left, .sidebar-right
    display none

  .main-content
    width 100%
