nav-height = 37px

.main-nav
  background-color #EFF2F8
  height nav-height
  margin-bottom spacing-block * 3
  box-shadow 0 1px 2px 0 rgba(0,0,0,0.25)

.main-nav-list
  text-align center

.nav-item
  margin 0
  line-height nav-height
  display inline-block
  color action-strong-blue
  padding 0 18px
  font-size font-size-base + 2
  text-decoration none
  &:hover,
  &.nav-item-active
    background-color action-blue
    color white
