.publishing.sidebar-box
  .bunsen-dropdown, .bunsen-dropdown-wrapper
    min-width 140px

.notebook .main-content
  // to compensate for the padding on the sticky title-bar,
  // we're moving the main-content up
  margin-top -7px

.notebook .title-bar
  &.stuck
    background-color rgba(255, 255, 255, 0.8)
    z-index z-notebook-sticky-header

  .options
    top 9px

  h2
    margin-top 0
    margin-bottom 0
    padding-top 15px
    padding-bottom 10px
    border-bottom 1px solid base-step5
    breadcrumb-margin = 9px

    .project
      margin-right breadcrumb-margin

    .name
      margin-left breadcrumb-margin
      padding-bottom 10px

    .status
      font-style italic
      color base-step4
      font-size font-size-base
      margin-left 20px

    .down-arrow
      margin-left 10px
      font-size 12px
      color base-step4
      margin-top -1px

    .bunsen-dropdown
      min-width 160px
      top 35px


.fullscreen .notebook .title-bar .drop-bottom-left .dropdown-menu
  top 0
  width 100%
  left -100%

.publish-modal
  .unsaved .note
    margin-bottom 18px
  .error
    border 1px solid red
