@import '_publication_cat_icons'

.publications .category-hero
  .category-icon-wrapper
    left: 8px
    position: absolute
    width: 82px

  .category-icon
    background-repeat: no-repeat
    background-size: 100%
    margin: auto

  category-icon('Biology', 'biology', 36, 60, 'hero')
  category-icon('Chemistry', 'chemistry', 54, 59, 'hero')
  category-icon('Demographics', 'demographics', 45, 45, 'hero')
  category-icon('Economics', 'economics', 47, 46, 'hero')
  category-icon('Education', 'education', 55, 37, 'hero')
  category-icon('Engineering', 'engineering', 45, 54, 'hero')
  category-icon('Finance', 'finance', 50, 51, 'hero')
  category-icon('Geospatial', 'geospatial', 47, 50, 'hero')
  category-icon('Government', 'government', 50, 51, 'hero')
  category-icon('Health', 'health', 45, 46, 'hero')
  category-icon('Law', 'law', 56, 46, 'hero')
  category-icon('Mathematics', 'mathematics', 46, 46, 'hero')
  category-icon('News', 'news', 50, 39, 'hero')
  category-icon('Physics', 'physics', 55, 53, 'hero')
  category-icon('Politics', 'politics', 28, 64, 'hero')
  category-icon('Psychology', 'psychology', 45, 56, 'hero')
  category-icon('Social Media', 'social', 53, 50, 'hero')
  category-icon('Travel', 'travel', 54, 44, 'hero')
