@import "_publication_code_cell"

publication-cell
  margin: 30px 0
  display: block

publication-notebook.main-content
  float: right

  section-headline
    display: block
    font-family: 'pt_sansbold'

    &.level-1
      font-size: 30px
    &.level-2
      font-size: 25px
    &.level-3
      font-size: 20px
    &.level-4
      font-size: 15px
