publication-cell-code-output
  // beaker saves quite a bit of HTML content
  // into html output cells that we do not want to
  // display in the publication viewer
  .out_prompt_overlay, .output, .output_collapsed
    display: none

  .error-output
    font-family: monospace
    background: rgb(255, 228, 228)
    padding: 20px
    border: solid 1px rgb(255, 184, 184)
    line-height: 23px
    font-size: 12px
    margin-top: 25px

  .table-output
    margin 20px

  .contents
    word-wrap break-word
    white-space pre-line
