.sidebar-tree
  padding 0 !important

treecontrol
  -moz-user-select -moz-none
  -khtml-user-select none
  -webkit-user-select none
  -ms-user-select none
  user-select none

  li
    position relative

    i
      display: block
      height: 10px
      width: 10px
      left: 18px
      top: 35px
      position: absolute
      z-index: 1
      display: none

    &.tree-expanded > i
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      border-top: 8px solid #3A556F
      display: block
      pointer-events: none

  .tree-label
    color white
    text-transform uppercase
    padding 12px spacing-block spacing-block-small spacing-block
    border-bottom 1px solid darken(action-strong-blue, 5%)
    &:hover
      background-color lighten(action-strong-blue, 5%)
      cursor pointer

  .tree-selected
    background-color action-blue
    .count
      color white
    &:hover
      background-color action-blue

    i
      border-top: 8px solid red

  li li
    background-color darken(action-strong-blue, 20%)

    &.tree-expanded i
      border-top: 8px solid darken(action-strong-blue, 20%)

    .tree-label
      text-transform capitalize

    li
      background-color darken(action-strong-blue, 30%)

      .tree-label
        padding-left 36px
        border-bottom 1px solid darken(action-strong-blue, 40%)

      &.tree-expanded i
        left: 35px
        border-top: 8px solid darken(action-strong-blue, 30%)
