.contributors.sidebar-box.light
  h3 Top Contributors
  .content
    ul
      li.contributor(ng-repeat="contributor in contributors.list")
        img.icon(ng-src="{{contributor.gravatar}}&size=50")
        .name
          strong {{contributor.name}}
        .job-title {{contributor.jobTitle | limitTo: 23}}
        .company {{contributor.company}}
        .cl
