.contributors.sidebar-box.light
  h3 Top Contributors
  .content
    ul
      li.contributor(ng-repeat="contributor in contributors.list")
        img.icon.top-contributor-icon(ng-src="{{contributor.gravatar}}&size=100")
        .name
          strong {{contributor.name}}
        .job-title {{contributor.jobTitle}}
        .company {{contributor.company}}
        .cl
