section.properties
  h1 Properties

  ul.property-list
    li(ng-repeat="(key, value) in item.filteredMeta")
      .label {{key | _.str: 'humanize'}}
      .value(ng-class="'dataset-' + (key | _.str: 'dasherize')") {{value}}

    li(ng-if="item.startDate")
      .label start date
      .value.dataset-start-date {{item.startDate}}

    li(ng-if="item.createdAt")
      .label released
      .value {{item.createdAt | date: 'shortDate'}}

    li(ng-if="item.lastUpdated")
      .label updated
      .value {{item.lastUpdated | date: 'shortDate'}}

    li(ng-if="item.categories")
      .label categories
      .value.dataset-categories {{item.categories | names}}

    li(ng-if="item.tags")
      .label tags
      .value.dataset-tags
       span(ng-repeat="tag in item.tags") {{tag}}{{$last ? '' : ', '}}
