section.properties
  h1 Properties

  ul.property-list
    li(ng-repeat="(key, value) in item.filteredMeta")
      .label {{key}}
      .value {{value}}

    li(ng-if="item.startDate")
      .label start date
      .value.start-date {{item.startDate}}

    li
      .label released
      .value {{item.createdAt | date: 'shortDate'}}

    li
      .label updated
      .value {{item.lastUpdated | date: 'shortDate'}}

    li(ng-if="item.categories")
      .label categories
      .value.categories {{item.categories | names}}
