.forgot-password.overview
  h1 {{message}}
  br
  form.retrieve(ng-submit="sendEmail()")
    label(for="user-email") Email
    br
    input.full(ng-model="user.email", type="email", name="email", id="user-email", placeholder="Email")
    input.full.btn(type="submit", value="Send Email")

  #app(ui-view="app")
