.col-half
  button(ng-click="subscribed ? unsubscribe() : subscribe()") {{subscribed ? "unsubscribe" : "subscribe"}}
  h1 {{item.title}}
  p {{item.description}}
  .label-pair
    label vendor
    br
    .vendor(ng-show="marketPlace.vendors") Vendor: {{vendorName(item)}}

    br

    h2 Details
    .format Format: {{item.format}}
    .released Released: {{item.createdAt | date: 'dd/MM/yyyy'}}
    .last-updated Updated: {{item.updatedAt | date: 'dd/MM/yyyy'}}
    .update-frequency Update Frequency {{item.updateFrequency}}
    .categories Categories: {{item.categories | names}}

  span {{item.vendor}}
  hr
  p data previews
  ul
    li(ng-repeat="preview in item.dataPreviews")
      img(ng-src="{{preview.previewUrl}}")
  hr
  .label-pair
    label
      b data tags
    br
    dl
      dt(ng-repeat="tag in item.dataTags") {{tag.name}}

