h1 bunsen market place

.col-half
  input(type="text", ng-model="filterBy", placeholder="Search for Data")
  h4 {{(data | filter:filterBy).length}} results
  select(multiple="multiple", ng-model="vendorScope")
    option(ng-repeat="v in marketPlace.vendors", value="{{v.id}}") {{v.name}}

  select(multiple="multiple", ng-model="tagScope")
    option(ng-repeat="v in tags", value="{{v.id}}") {{v.name}}

  select(multiple="multiple", ng-model="typeScope")
    option(ng-repeat="v in formats", value="{{v}}") {{v}}

  ul
    li(ng-repeat="item in marketPlace.data | filter:filterBy ")
      p
        .col-three-quarters
          a(ui-sref="marketPlace.item({id: item.id})") {{item.title}}
          p.description {{item.description | limitTo:100}}...
          .vendor Publisher: {{vendorName(item)}}
          .format Format: {{item.format}}
        .col-quarter
          .last-updated Updated: {{item.updatedAt | date: 'dd/MM/yyyy'}}
        .cl
.cl
