.col-three-quarters

  .category-hero(ng-show='marketPlace.currentCategory')
    .category.col-three-quarters
      h2
        b {{marketPlace.currentCategory.name}}
      p {{marketPlace.currentCategory.description}}
    .col-quarter(ng-hide="!marketPlace.currentCategory || marketPlace.currentCategory.name == 'All'")
      .category-attributes
        .category-attributes-label Total Sets
        .category-attributes-label-value.total-sets {{marketPlace.currentCategory.count}}
        .category-attributes-label Last Updated:
        .category-attributes-label-value {{marketPlace.currentCategory.updated_at | date: 'short'}}
        .category-attributes-label Owner:
        .category-attributes-label-value {{marketPlace.currentCategory.ownerName}}
        .category-attributes-label Contact:
        .category-attributes-label-value
          a(href="mailto:{{marketPlace.currentCategory.ownerEmail}}") {{marketPlace.currentCategory.ownerEmail}}
    .cl

  h4.total-result-count {{marketPlace.totalItems}} results
  .col-half
    .label-pair.col-three-quarters
      label
        b vendors
      br
      select.vendors(multiple="multiple", ng-model="marketPlace.vendorScope" ng-options="vendor.id as vendor.name for vendor in marketPlace.vendors")

    .label-pair.col-quarter
      label
        b format
      br
      select.formats(multiple="multiple", ng-model="marketPlace.typeScope" ng-options="format for format in formats")

  .col-half
    .label-pair.col-half
      label
        b tags
      br
      select.tags(multiple="multiple", ng-model="marketPlace.tagScope" ng-options="tag.id as tag.name for tag in marketPlace.relatedTags")

    .label-pair.col-quarter
      label
        b search
      br
      input.market-text-search(type="text", ng-model="marketPlace.searchScope", placeholder="Search within results")

  ul.cl.current-filters
    li.tag.filter(ng-repeat="filter in currentFilters", ng-click="removeFilter(filter.value, filter.model)") {{filter.name}} ✖
  br
  br
  ul.market-list
    li.market-list-item(ng-repeat="item in marketPlace.data")
      p
        .col-three-quarters
          h2
            a.title(ui-sref="marketPlace.items.item({id: item.id})") {{item.title}}
          p.description {{item.description | limitTo:100}} {{item.description.length > 100 ? "..." : ""}}
          .vendor
            | Vendor:
            span.vendors &nbsp;{{vendorName(item)}}
        .col-quarter.vendor-attributes
          ul.vendor-item-list-attributes
            li.format
              span.small-label Format:&nbsp
              span.vendor-item-list-value {{item.format}}
            li.last-updated
              span.small-label Updated:&nbsp
              span.vendor-item-list-value {{item.lastUpdated | date: 'dd/MM/yyyy'}}
        .cl

  .pagination-contain
    pagination(page="marketPlace.currentPage" max-size="marketPlace.maxSize" items-per-page="marketPlace.itemsPerPage" total-items="marketPlace.totalItems")

.cl
