.col-three-quarters.market-item-push-down(ng-if="item.title")
  .btn.btn-light.return-to-market-search(ui-sref="marketPlace.items") Back to List
  .market-item-hero
    h1 {{item.title}}
    p.market-description {{item.description}}

    .market-item-vendor-info
      .col-three-quarters.col-outside
        h3.vendor {{vendorName(item)}}
          span.text-blue &nbsp; &raquo;
      .col-quarter.col-outside
        .right.btn.btn-primary.subscribe(ng-click="subscribed ? unsubscribe() : subscribe()") {{subscribed ? "unsubscribe" : "subscribe"}}
      .cl

  .subscribed-confirm(ng-if="subscribed")
    p Thank you for subscribing. The data is accessible in the file&nbsp;
      span.file-path {{item.remoteFile | dataSetPath}}
      &nbsp;
      | from within any Notebook.

  .market-item-properties.section-padding
    h1 Properties

    .property-row.property-row-first
      .property-label format
      .property-value.property-top-border.format {{item.format}}

    .property-row
      .property-label released
      .property-value {{item.lastUpdated | date: 'shortDate'}}

    .property-row
      .property-label updated
      .property-value {{item.lastUpdated | date: 'shortDate'}}

    .property-row
      .property-label frequency
      .property-value.update-frequency {{item.updateFrequency}}

    .property-row
      .property-label categories
      .property-value {{item.categories | names}}

    .property-row
      .property-label tags
      .property-value.tags
        span(ng-repeat="tag in item.dataTags") {{tag.name}}{{$last ? '' : ', '}}

  .data-previews(ng-hide="!item.dataPreviews.length")
    h1 Data Previews
    .data-preview-contain
      ul
        li(ng-repeat="preview in item.dataPreviews")
          a(ng-href="{{preview.previewUrl}}", target="_blank")
            img(ng-src="{{preview.smallPreviewUrl}}")

  .similar-datasets(ng-hide="!item.related.length")
    h1 Similar Datasets
    ul.related-items
      li.related-item.base-row-item-green(ng-repeat="related in item.related")
        a(ui-sref="marketPlace.items.item({id: related.id})") {{related.title}}
