h1 bunsen market place
input(type="text", ng-model="filterBy", placeholder="Search for Data")
ul
  li(ng-repeat="item in data | filter:filterBy")
    p
      a(ui-sref="marketItem({id: item.id})") {{item.title}}
      p.description {{item.description | limitTo:100}}...
