.col-half
  .btn(ui-sref="marketPlace.items") Back to results
  h1
    b {{item.title}}
  p {{item.description}}
  .label-pair
    label vendor
    br
    .vendor(ng-show="marketPlace.vendors") Vendor: {{vendorName(item)}}

    br

    h2
      b Details
    .format Format: {{item.format}}
    .released Released: {{item.createdAt | date: 'dd/MM/yyyy'}}
    .last-updated Updated: {{item.lastUpdated | date: 'dd/MM/yyyy'}}
    .update-frequency Frequency: {{item.updateFrequency}}
    .categories Categories: {{item.categories | names}}
    .start-date(ng-show="item.startDate !== null") Data Start Date: {{item.startDate | date: 'dd/MM/yyyy'}}
    .tags
      p Tags:
      span(ng-repeat="tag in item.dataTags") {{tag.name}}{{$last ? '' : ', '}}


  span {{item.vendor}}
  hr
  p data previews
  ul
    li(ng-repeat="preview in item.dataPreviews")
      a(ng-href="{{preview.previewUrl}}", target="_blank")
        img(ng-src="{{preview.smallPreviewUrl}}")

.col-quarter
  .btn-group
    .btn(ng-click="subscribed ? unsubscribe() : subscribe()") {{subscribed ? "unsubscribe" : "subscribe"}}

