.main-content.market-item(ng-if="item.title")
  .btn.btn-light.return-to-market-search(ui-sref="{{referrerList}}") Back to List
  .item-hero
    h1 {{item.title}}
    p.description {{item.description}}

    .details
      .col-three-quarters.col-outside
        a.vendor(ng-click="searchByVendor(item.vendor)") {{item.vendor}}
          span.text-blue &nbsp; &raquo;
      .col-quarter.col-outside
        .right.btn.btn-primary.subscribe(ng-click="subscribed ? unsubscribe() : subscribe()") {{subscribed ? "unsubscribe" : "subscribe"}}
      .cl

  .subscribed-confirm(ng-if="subscribed")
    p Thank you for subscribing. The data is accessible in the file&nbsp;
      span.file-path {{item.catalog.base_path + item.remoteFile}}
      &nbsp;
      | from within any Notebook.

  dataset-properties(item="item")

  datasheet-preview(item="item" table='tableDataPreview')

  .similar-datasets(ng-hide="!item.related.length")
    h1 Similar Datasets
    ul.related-items.bunsen-list
      li(ng-repeat="related in item.related")
        a(ui-sref="marketPlace.items.item({index: item.index, id: related.id})") {{related.title}}
