button(ng-click="subscribed ? unsubscribe() : subscribe()") {{subscribed ? "unsubscribe" : "subscribe"}}
h1 {{item.title}}
p {{item.description}}
.label-pair
  label vendor
  br
  span {{item.vendor}}
