.col-three-quarters
  h1(ng-hide='marketPlace.currentCategory')
    b Bunsen marketplace

  .category.col-three-quarters(ng-show='marketPlace.currentCategory')
    h2
      b {{marketPlace.currentCategory.name}}
    p {{marketPlace.currentCategory.description}}
  .col-quarter(ng-hide="!marketPlace.currentCategory || marketPlace.currentCategory.name == 'All'")
    p Sets: {{marketPlace.currentCategory.count}}
    p Updated: {{marketPlace.currentCategory.updated_at | date: 'short'}}
    p Owner: {{marketPlace.currentCategory.ownerName}}
    p Email: &nbsp;
      a(href="mailto:{{marketPlace.currentCategory.ownerEmail}}") {{marketPlace.currentCategory.ownerEmail}}
  .cl


  h4 {{marketPlace.totalItems}} results
  .col-half
    .label-pair.col-three-quarters
      label
        b vendors
      br
      select(multiple="multiple", ng-model="marketPlace.vendorScope" ng-options="vendor.id as vendor.name for vendor in marketPlace.vendors")

    .label-pair.col-quarter
      label
        b format
      br
      select(multiple="multiple", ng-model="marketPlace.typeScope" ng-options="format for format in formats")

  .col-half
    .label-pair.col-half
      label
        b tags
      br
      select(multiple="multiple", ng-model="marketPlace.tagScope" ng-options="tag.id as tag.name for tag in marketPlace.relatedTags")

    .label-pair.col-quarter
      label
        b search
      br
      input(type="text", ng-model="marketPlace.searchScope", placeholder="Search within results")


  ul.cl.current-filters
    li.tag.filter(ng-repeat="filter in currentFilters", ng-click="removeFilter(filter.value, filter.model)") {{filter.name}} ✖
  br
  br
  ul.market-list
    li(ng-repeat="item in marketPlace.data")
      p
        .col-three-quarters
          a(ui-sref="marketPlace.items.item({id: item.id})") {{item.title}}
          p.description {{item.description | limitTo:100}}...
          .vendor Publisher: {{vendorName(item)}}
        .col-quarter
          .format Format: {{item.format}}
          .last-updated Updated: {{item.lastUpdated | date: 'dd/MM/yyyy'}}
        .cl
      br

  br
  pagination(page="marketPlace.currentPage" max-size="marketPlace.maxSize" items-per-page="marketPlace.itemsPerPage" total-items="marketPlace.totalItems")

.cl
