h1 bunsen market place

.col-half
  input(type="text", ng-model="filterBy", placeholder="Search for Data")
  h4 {{(marketPlace.data | filter:filterBy).length}} results
  .label-pair.col-quarter
    label
      b vendors
    br
    select(multiple="multiple", ng-model="marketPlace.vendorScope")
      option(ng-repeat="v in marketPlace.vendors", value="{{v.id}}", ng-selected="isSelected(v.id, marketPlace.vendorScope)") {{v.name}}

  .label-pair.col-quarter
    label
      b tags
    br
    select(multiple="multiple", ng-model="marketPlace.tagScope")
      option(ng-repeat="v in tags", value="{{v.id}}", ng-selected="isSelected(v.id, marketPlace.tagScope)") {{v.name}}

  .label-pair.col-quarter
    label
      b types
    br
    select(multiple="multiple", ng-model="marketPlace.typeScope")
      option(ng-repeat="v in formats", value="{{v}}", ng-selected="isSelected(v, marketPlace.typeScope)") {{v}}

  ul.current-filters
    li.tag.filter(ng-repeat="filter in currentFilters", ng-click="removeFilter(filter.value, filter.model)") {{filter.name}} ✖
  ul
    li(ng-repeat="item in marketPlace.data | filter:filterBy ")
      p
        .col-three-quarters
          a(ui-sref="marketPlace.item({id: item.id})") {{item.title}}
          p.description {{item.description | limitTo:100}}...
          .vendor Publisher: {{vendorName(item)}}
          .format Format: {{item.format}}
        .col-quarter
          .last-updated Updated: {{item.updatedAt | date: 'dd/MM/yyyy'}}
        .cl
.cl
