.main-content.market-item(ng-if="item.title")
  .btn.btn-light.return-to-market-search(ui-sref="{{referrerList}}") Back to List
  .item-hero
    h1 {{item.title}}
    p.description {{item.description}}

    .details
      .col-three-quarters.col-outside
        a.vendor(ng-click="searchByVendor(item.vendorId)") {{vendorName(item)}}
          span.text-blue &nbsp; &raquo;
      .col-quarter.col-outside
        .right.btn.btn-primary.subscribe(ng-click="subscribed ? unsubscribe() : subscribe()") {{subscribed ? "unsubscribe" : "subscribe"}}
      .cl

  .subscribed-confirm(ng-if="subscribed")
    p Thank you for subscribing. The data is accessible in the file&nbsp;
      span.file-path {{item.remoteFile | dataSetPath}}
      &nbsp;
      | from within any Notebook.

  section.properties
    h1 Properties

    ul.property-list
      li
        .label format
        .value.top-border.format {{item.format}}

      li
        .label released
        .value {{item.lastUpdated | date: 'shortDate'}}

      li
        .label updated
        .value {{item.lastUpdated | date: 'shortDate'}}

      li
        .label frequency
        .value.update-frequency {{item.updateFrequency}}

      li(ng-if="item.categories")
        .label categories
        .value {{item.categories | names}}

      li(ng-if="item.dataTags")
        .label tags
        .value.tags
          span(ng-repeat="tag in item.dataTags") {{tag.name}}{{$last ? '' : ', '}}

  datasheet-preview(item="item" table='tableDataPreview')

  .similar-datasets(ng-hide="!item.related.length")
    h1 Similar Datasets
    ul.related-items.bunsen-list
      li(ng-repeat="related in item.related")
        a(ui-sref="marketPlace.items.item({id: related.id})") {{related.title}}
