.col-half.notebook
  a.btn.btn-light.left(ui-sref="projects.items.item({id: project.id})") Back to project home
  button.right.close-notebook(ng-click="closeNotebook(notebook.id)") close notebook
  .cl
  br br
  h2 Notebook: {{notebook.name}}
  beakernotebook(src="{{ notebookLocation }}", width="700", height="1000")
