.col-half.notebook
  a.left(ui-sref="projects.items.item({id: project.id})") ← Back to project home
  button.right.close-notebook(ng-click="closeNotebook(project.id, notebook.name)") close notebook
  .cl
  h2 Notebook: {{notebook.name}}
  beakernotebook(src="{{ notebookLocation }}", width="700", height="1000")
