input.search-full(ng-model="projects.search-full", placeholder="Search projects")
ul.projects(ng-show="projects.list.length")
  li(ng-repeat="project in projects.list")
    a.project(ui-sref-active="active", ui-sref="projects.items.item({id: project.id})") {{project.name | limitTo:22}}

br
.notebooks
  h1 {{project.name | limitTo:22}}
  div Notebooks:
  div(ng-show="project.notebooks.length === 0") no notebooks yet.
  ul.notebook-gutter-list
    li.single-notebook(ng-repeat="notebook in project.notebooks")
      a.notebook(ui-sref-active="active", ui-sref="projects.items.item.notebook({id: project.id, notebook_id: notebook.id})") {{notebook.name | limitTo:22}}
