.notebook
  .sidebar-right
    .publishing.sidebar-box.light
      h3
        | Publishing
        span.options.dropdown-toggle.light.right
          ul.dropdown.drop-bottom-left
            li
              a.publish(ng-class="published && 'disabled'" ng-click="published || openPublishModal()") Publish notebook
            li(ng-if="published")
              a.destroy-publication(confirm="Are you sure you want to delete the publication for this notebook?" on-confirm="destroyPublication()") Remove published
      .content
        .publish-status.text-small(ng-class="published ? 'public' : 'private'") This notebook is {{ published ? 'published' : 'currently private' }}
        ul.publication-details.property-list.small(ng-if="published")
          li
            .label Published
            .value.publish-time {{notebook.current.publication.createdAt | date:'short'}}
        a.view-published(ng-if="published" ui-sref="publications.items.item({id: notebook.current.publication.id})") View published version &raquo;
        a.publish(ng-if="!published" ng-click="openPublishModal()") Publish this notebook &raquo;

  .main-content
    span.options.dropdown-toggle.right
      ul.dropdown
        li
          a.save(ng-click="save()") Save
        li
          a.save-as(ng-click="saveAs()") Save As
        li
          a.rename(rename-notebook-toggle notebook="notebook.current") Rename
        li
          a.show-stdout-stderr(ng-click="showStdoutStderr()") Show Stdout/err
        li
          a.close-notebook(close-notebook="{{ notebook.current.id }}") Close
    h2.left Notebook:&nbsp;
      span.name {{notebook.current.name}}
    .cl
    .loading(ng-if="loading")
      .spinner(us-spinner="{lines: 12, radius:5, width:3, length: 5, corners: 0, speed: 0.6, trail: 40, color: '#3f5264'}")

    beakernotebook(notebook-id="{{ notebook.current.id }}", src="{{ notebook.current.location }}", width="600", height="1000")
