.open-notebooks(ng-hide="!openNotebooks.length")
  h3.sidebar-box-header.sidebar-box-header-blue
    span.sidebar-box-header-count {{openNotebooks.length}}
    | Open Notebooks
  .sidebar-box.padding-reset
    ul.open-notebooks.sidebar-box-list.with-dots
      li.open-notebook(ng-repeat="open in openNotebooks")
        a(ui-sref="projects.items.item.notebook({id: open.projectId, notebook_id: open.id})") {{open.name}}
          span.inline-close-notebook(ng-click="closeNotebook(open.id)")
            img(src="images/close-white-small.png", width="10", height="10")

