h1
  b Open Notebooks
ul.open-notebooks
  li.open-notebook(ng-repeat="open in openNotebooks")
    a(ui-sref="projects.items.item.notebook({id: open.projectId, name: open.notebookName})") {{open.notebookName}}
