h3.sidebar-box-header Open Notebooks
.sidebar-box
  ul.open-notebooks
    li.open-notebook(ng-repeat="open in openNotebooks")
      a(ui-sref="projects.items.item.notebook({id: open.projectId, notebook_id: open.id})") {{open.name}}
