.manage-projects
  .btn.create-project(ng-click="createProject()") create a project

  h1 your projects
  ul
    li(ng-show="projects.length === 0") no projects yet.
    li(ng-repeat="project in projects")
      a.project(ui-sref="project({id: project.id})") {{project.name}}
