form.project-form(ng-submit="updateProject()")
  label project name
  br
  input(name="name", ng-model="project.name")
  br
  label project description
  br
  textarea(name="description", ng-model="project.description")
  .btn-group
    input.btn(value="Save", type="submit")
    button.btn.delete-project(ng-click="deleteProject()") Delete
