label project name
br
input(ng-model="project.name")
br
label project description
br
textarea(ng-model="project.description")
br
button.btn(ng-click="updateProject()") Save
button.btn(ng-click="deleteProject()") Delete
