.projects-root(ng-controller="projectsRoot")
  .col-quarter.project-sidebar
    .nav(ui-view="nav")
    .recent-notebooks(ui-view="recent-notebooks")
    .open-notebooks(ui-view="open-notebooks")
  #app(ui-view="app")
