.project-detail.col-half
  h1.project-name {{project.name}}
  p.project-description {{project.description}}
  .commits Commits: {{numCommits}}
  .last-updated Last updated: {{lastUpdated | date: 'short'}}
  .last-executed Last executed: {{project.lastExecuted || "N/A" | date: 'short'}}
  a.btn.edit-project(ui-sref="projects.projectEdit({id: project.id})") edit project

  h3 Notebooks
  ul
    li(ng-show="notebooks.length === 0") no notebooks yet.
    li(ng-repeat="notebook in notebooks")
      .col-quarter
        b {{notebook.name}}
      .col-quarter
        a(href='') Open
      .col-quarter Updated at: {{notebook.lastModified | date: 'short'}}
      .col-quarter Commits: {{notebook.numCommits}}
      .cl

