.project-detail.col-half
  h1.project-name
    b {{project.name}}
  br

  h2
    b Project Stats
  .last-updated Last updated: {{lastUpdated | date: 'short'}}
  .last-executed Last executed: {{project.lastExecuted || "N/A" | date: 'short'}}
  .commits Commits: {{numCommits}}
  a.btn.edit-project(ui-sref="projects.projectEdit({id: project.id})") edit project
  .cl
  br

  h3 Notebooks
  ul
    li(ng-show="notebooks.length === 0") no notebooks yet.
    li(ng-repeat="notebook in notebooks")
      .col-quarter
        b {{notebook.name}}
      .col-quarter
        a(ui-sref="projects.items.item.notebook({id: project.id, name: notebook.name})") Open
      .col-quarter Updated at: {{notebook.lastModified | date: 'short'}}
      .col-quarter Commits: {{notebook.numCommits}}
      .cl

.col-quarter
  h2
    b About this project
  p.project-description {{project.description}}

.cl
