.project-detail.col-half.col-expanded-lrg-display
  h1.error(ng-if="error") {{error}}
  h1.project-name
    span(ng-hide="editMode") {{project.name}}
    input(name="name", ng-model="project.name", ng-show="editMode")
  a.btn.btn-light.update-project-top-btn(ng-show="editMode", ng-click="updateProject()") Save


  .right.project-menu
    a.toggle-drop-down.toggle-drop-down-on-white(show-on-hover-parent)
      .menu-icon-dots
    ul.drop-down-child
      li(ng-hide="editMode")
        a.edit-project(ng-click="editProject()") Edit
      li(ng-show="editMode")
        a.update-project(ng-click="updateProject()") Save
      li
        a.delete-project(ng-click="deleteProject()") Delete
  .cl

  .section-padding.section-padding-top.project-overview
    .col-half.project-first-col
      h4 Properties
      ul.property-list
        li.property-list-item
          span.text-small
            span.project-property-label Last used
            span.project-property-value {{project.lastExecuted || "N/A" | date: 'M/d, h:mma'}}
        li.property-list-item
          span.text-small
            span.project-property-label Updated
            span.project-property-value.last-updated {{project.lastUpdatedAt | date: 'M/d, h:mma'}}
        li.property-list-item
          span.text-small
            span.project-property-label Commits
            span.project-property-value {{project.numCommits}}

    .col-half.col-last
      h4 Recently Used Notebooks
      ul.property-list
        li.text-small
          a Notebook
        li.text-small
          a Notebook
        li.text-small
          a Notebook
    .cl

  .section-padding
    h2 Notebooks
    ul.notebook-list
      li(ng-if="notebooks.length === 0") no notebooks yet.
      li.single-notebook.base-row-item-green.base-row-item-skinny(ng-repeat="notebook in project.notebooks")
        .col-half
          h2
            a(ui-sref="projects.items.item.notebook({id: project.id, notebook_id: notebook.id})") {{notebook.name}}

        .right
          span.text-small.notebook-last-used Last used on:
            span.text-green {{notebook.updated_at | date: 'M/dd, h:mma'}}
          span.notebook-options
            a.toggle-drop-down-on-white.toggle-drop-down(show-on-hover-parent)
              .menu-icon-dots
            ul.drop-down-child
              li
                a(notebook-move project-id="project.id" notebook="notebook" projects="projects.list" on-move="loadProject()" on-error="alreadyExistsError(notebook, project)") Move
        .cl

    span.import-notebooks.btn-group
      a.btn.btn-light.new-notebook(ng-click="createNotebook()") New Notebook
      span(hidden-upload="true")
        a.import.btn-light.btn Import
        input.visibility-hidden.import-notebook(type="file" ng-file-select="onFileSelect($files)" multiple)

.col-quarter.col-expanded-lrg-display
  h3.sidebar-box-header.sidebar-box-header-strong-blue
    | About this project
    a.sidebar-box-header-icon(ng-click="editProject()")
      img(src="images/edit.png", width="14", height="14")
  .sidebar-box.sidebar-box-white
    p.project-description-display(ng-hide="editMode") {{project.description}}
    textarea.project-description(name="description", ng-model="project.description" ng-show="editMode")
      | Project description...
    a.btn.btn-light.update-project.left(ng-show="editMode", ng-click="updateProject()") Save
    .cl

