.col-half.project-search
  h1
    b Search Results
  p
    span.project-count {{projects.searchResults.length}}
    span results
  br
  ul
    li(ng-repeat="project in projects.searchResults")
      .col-three-quarters
        a.project( ui-sref="projects.items.item({id: project.id})") {{project.name | limitTo:30}}
        p.desc {{project.description}}
      .col-quarter
        .notebooks Notebooks: {{project.notebooks.length}}
        .updated Updated: {{project.lastUpdatedAt | date: 'dd/MM/yyyy'}}
      .cl
      br
