.project-detail.col-half
  .col-three-quarters
    h1.project-name
      b(ng-hide="editMode") {{project.name}}
      input(name="name", ng-model="project.name", ng-show="editMode")

  .col-quarter
    a.btn.edit-project(ng-click="editProject()" ng-hide="editMode") edit
    a.btn.update-project(ng-click="updateProject()" ng-show="editMode") save
    a.btn.delete-project(ng-click="deleteProject()") delete
  .cl

  h2
    b Project Stats
  .last-updated Last updated: {{lastUpdated | date: 'short'}}
  .last-executed Last executed: {{project.lastExecuted || "N/A" | date: 'short'}}
  .commits Commits: {{numCommits}}

  .cl
  br

  h3 Notebooks
  ul
    li(ng-show="notebooks.length === 0") no notebooks yet.
    li(ng-repeat="notebook in notebooks")
      .col-quarter
        b {{notebook.name}}
      .col-quarter
        a(ui-sref="projects.items.item.notebook({id: project.id, name: notebook.name})") Open
      .col-quarter Updated at: {{notebook.lastModified | date: 'short'}}
      .col-quarter Commits: {{notebook.numCommits}}
      .cl
    li
      a(ui-sref="projects.items.item.notebook.new({id: project.id})") New Notebook

.col-quarter
  h2
    b About this project
  p(ng-hide="editMode").project-description {{project.description}}
  textarea(name="description", ng-model="project.description" ng-show="editMode")

.cl
