label project name
br
input(ng-model="project.name")
br
label project description
br
textarea(ng-model="project.description")
.btn-group
  .btn(ng-click="updateProject()") Save
  .btn(ng-click="deleteProject()") Delete
