.main-content
  h1 Search Results
  p
    span.project-count {{projects.searchResults.length}}
    &nbsp;
    span results
  ul.bunsen-list.project-search-results
    li.skinny(ng-repeat="project in projects.searchResults")
      .col-three-quarters
        h2
          a.title(ui-sref="projects.items.item({id: project.id})") {{project.name | limitTo:30}}
        p.description {{project.description}}

      .col-quarter
        ul.attributes
          li
            span.label Notebooks:&nbsp
            span.value.count {{project.notebooks.length}}

          li
            span.label Updated:&nbsp
            span.value {{project.lastUpdatedAt | date: 'shortDate'}}
      .cl
