h1 your projects
input.search(ng-model="projects.search", placeholder="search")
ul
  li(ng-show="projects.list.length === 0") no projects yet.
  li(ng-repeat="project in projects.list")
    a.project(ui-sref-active="active", ui-sref="projects.items.item({id: project.id})") {{project.name | limitTo:22}}...

br
.btn.create-project(ng-click="createProject()") New project
