.main-content.publications
  ul.publication-list.bunsen-list
    li.bunsen-list-item(ng-repeat="publication in publications.list | filter:byPublicationFilter | orderBy:'createdAt':true")
      h2
        a.title(ui-sref="publications.items.item({id: publication.id})") {{publication.name}}
      p.description {{publication.description | words : 30 }}

