h1 Publish Notebook
label.full(for="description") Notebook description others will see when you publish:
textarea.full.description(name="description" rows="3" ng-model="notebook.current.description" placeholder="Enter notebook description others will see when you publish")
button.publish.btn.btn-light(ng-click="publish()") Publish
button.btn.btn-light(ng-click="cancelPublish()") Cancel
