.publish-modal(ng-controller="publishNotebook")
  h1 {{title}}
  label.full(for="description") Notebook description others will see when you publish:
  textarea.full.description(name="description" rows="3" ng-model="notebook.current.publication.description" placeholder="Enter notebook description others will see when you publish")
  label.full(for="category") Category that describes your notebook:
  select.full(ng-model="notebook.current.publication.categoryId" ng-options="category.id as category.name for category in categories" name="category" ng-class="{error: error}" ng-change="refresh()")
  button.publish.btn.btn-light(ng-if="showButtons && !edited()" ng-click="publish()") {{saveButton}}
  .unsaved(ng-if="edited()")
    .note Warning, your notebook has unsaved changes.
    button.publish.btn.btn-light(ng-if="showButtons" ng-click="savePublish()") {{savePublishButton}}
  button.btn.btn-light(ng-if="showButtons" ng-click="cancelPublish()") Cancel
