.code(ng-controller="publication-cell-code")
  .toggle-expand.input-toggle(ng-class="{collapsed: cell.input.collapsed}", ng-click="toggleCollapsed('input')")
  section-headline {{cell.evaluator}}
  .input-cell(ng-class="{collapsed: cell.input.collapsed}")
    .input
      .contents(hljs="hljs", source="cell.input.body")
  .output-cell(ng-class="{collapsed: cell.output.collapsed}")
    .toggle-expand.output-toggle(ng-class="{collapsed: cell.output.collapsed}", ng-click="toggleCollapsed('output')")
    .output
      .contents {{cell.output.result}}
