.rating
  | My Rating:
  a(ng-repeat="star in stars" ng-click="setRating($index)" ng-mouseover="hover($index)" ng-mouseleave="stopHover()" ng-class="starClass(star, $index)")

.average
  | Average Rating:
  a(ng-repeat="star in avgStars" ng-class="starClass(star)")
