h1
  b Recent Notebooks
ul.recent-notebooks
  li.recent-notebook(ng-repeat="recent in recentNotebooks")
    a(ui-sref="projects.items.item.notebook({id: recent.projectId, notebook_id: recent.notebookId})") {{recent.notebookName}}
