.main-content
  h1 Search Results
  p
    span.project-count {{notebookResults.length + projectResults.length}}
    &nbsp;
    span results
  ul.bunsen-list.search-results
    li.bunsen-list-item.skinny(ng-repeat="notebook in notebookResults = (notebooks.list | filter:searchable.search)")
      .col-three-quarters
        h2
          a.title(ui-sref="projects.items.item.notebook({id: notebook.projectId, notebook_id: notebook.id})") Notebook: {{notebook.name | limitTo:30}}
      .col-quarter
        ul.attributes
          li
            span.label Updated:&nbsp
            span.value {{notebook.updatedAt | date: 'shortDate'}}
      .cl

    li.bunsen-list-item.skinny(ng-repeat="project in projectResults = (projects.list | filter:searchable.search)")
      .col-three-quarters
        h2
          a.title(ui-sref="projects.items.item({id: project.id})") Project: {{project.name | limitTo:30}}
        p.description {{project.description}}

      .col-quarter
        ul.attributes
          li
            span.label Notebooks:&nbsp
            span.value.count {{project.notebooks.length}}
          li
            span.label Updated:&nbsp
            span.value {{project.lastUpdatedAt | date: 'shortDate'}}
      .cl
