h1 {{message}}
br
form(ng-submit="submit()")
  input(ng-model="user.email", type="email", name="user", placeholder="Email")
  input(type="submit", value="Sign in")
  br
  span Use dummy@example.com to access test user.
