.user-container
  h1.user-edit-page-message(ng-if='message') {{message}}
  .heading
    img.user-icon.left(ng-src="{{user.gravatar}}&size=50")
    h2.user-edit-title Edit User
  form.user-edit(name='editUserForm', ng-submit='editUser(editUserForm.$valid)')
    section.overview
      .col-half
        label.full(for='user-name') Name:
        input.user-form(ng-model='user.name', type='text', name='name', id='user-name', required)
        br
        label.full(for='user-email') Email:
        input.user-form(ng-model='user.email', type='email', name='email', id='user-email', required)
        br
        label.full(for='user-current-password') Current Password:
        span.password-warning Enter password to update user
        br
        input.user-form(ng-model='user.currentPassword', type='password', name='currentPassword',id='user-current-password', required)
        label.full(ng-show='editMode', for='user-new-password') New Password:
        input.user-form(ng-show='editMode', ng-model='user.newPassword', type='password', name='newPassword', id='user-new-password', ng-minlength=6)
        span(ng-show='editUserForm.newPassword.$invalid && !editUserForm.newPassword.$pristine') Password must be at least 6 chars
        br
        input.btn.left(type='submit', value='Update')
        button.btn.left.new-password-toggle(type='button',ng-click="toggleEditMode()") Change Password
      .col-half
        label.full(for='user-job-title') Job Title:
        input.user-form(ng-model='user.jobTitle', type='text', name='job_title', id='user-job-title')
        br
        label.full(for='user-company') Company:
        input.user-form(ng-model='user.company', type='text', name='company', id='user-company')
        label.full(for='user-bio') Bio:
        textarea.user-form(ng-model='user.bio', type='text', name='bio', id='user-bio')
        br
