.app-header
  .contain
    a(href="/")
      img(src="images/header/logo-bunsen.png", width="100", height="27", class="header-logo")
    ul.header-actions-list.right
      li
        a(href="#")
          img(src="images/header/icon-settings.png", width="15", height="15")
      li
        .auth-controls(ng-show='$session.currentUser')
          span.signed-in {{$session.currentUser.email}}
          &nbsp
          a.sign-out(ui-sref="signOut", ng-show='$session.currentUser') Sign out
