{
  "development": {
    "database": "bunsenDevelopment",
    "user": "root",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "database": "bunsen",
    "user": "root",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
