{:image "beakernotebook/beaker-prerelease:master-0-g95b1538"
 :cmd "su -m beaker -c \"export PATH=$PATH:/usr/sbin && /home/beaker/src/core/beaker.command --listen-interface=*\""
 :uris ["file:///etc/.dockercfg"]
 :ports [{:container 8801}]
 :volumes [{:host "/mnt/bunsen"
            :container "/var/s3"
            :mode "RO"}]
 :cpus 1
 :mem 2048}
