.message(ng-if="message") {{message}}
br
form.retrieve(ng-submit="sendEmail()")
  label(for="user-email") Email
  input(ng-model="user.email", type="email", name="email", id="user-email", placeholder="Email")
  input.btn.alt.mid(type="submit", value="Send Email")
