.disk-usage
  .bar
    .progress(style="{{'width:' + diskUsage.percent}}%")
  p
    span.gigabytes {{diskUsage.quota - diskUsage.total | humanizeFilesize}}
    | &nbsp; of {{diskUsage.quota | humanizeFilesize}} available
