| Move
.dropdown-wrapper.dropright
  ul.dropdown.project-selector
    li(ng-repeat="project in otherProjects")
      a.project(ng-click="moveTo({projectId: project.id, projectName: project.name})") {{project.name}}
