| Move
.bunsen-dropdown-wrapper.dropright
  ul.bunsen-dropdown.project-selector
    li(ng-repeat="project in otherProjects")
      a.project(ng-click="moveTo({projectId: project['public-id'], projectName: project.name})") {{project.name}}
