@import '_variables'

.market-item-hero
  background-color white
  margin-top spacing-block
  border 1px solid base-step5
  padding spacing-block
  border-top 4px solid action-strong-green

  h1
    margin-bottom spacing-block

.market-item-vendor-info
  padding-top spacing-block
  border-top 1px solid base-step5

  h3
    font-size font-size-base + 1
    margin-top spacing-block-small + 2
