@import '_variables'

.market-item-push-down
  margin-top 2px

.market-item-hero
  background-color white
  margin-top spacing-block
  border 1px solid base-step5
  padding spacing-block
  border-top 4px solid action-strong-green

  h1
    margin-bottom spacing-block

.market-item-vendor-info
  padding-top spacing-block
  border-top 1px solid base-step5

  h3
    font-size font-size-base + 1
    margin-top spacing-block-small + 2

.market-item-properties
  margin-top spacing-block + 30

.subscribed-confirm
  vertical-align middle
  border 1px solid base-step5
  border-top none
  padding spacing-block
  width 100%
  background-color lighten(base-step5, 50%)
  p
    margin 0

.file-path
  font-family font-family-primary-bold


.related-item
  a
    color base-step2
    text-decoration none
    text-transform capitalize
    &:hover
      text-decoration underline

.data-previews,
.similar-datasets
  background-color white
  margin (spacing-block * 3) 0

.data-preview-contain
  border 1px solid base-step5
  padding spacing-block-small

