@import '_variables'

item-hero-padding = 32px

.item-hero
  background-color white
  margin-top spacing-block
  border 1px solid base-step5
  padding item-hero-padding
  padding-bottom spacing-block
  border-top 4px solid action-strong-green

  h1
    font-size 21px
    line-height 26px
    margin 0 0 spacing-block 0

.details
  padding-top spacing-block
  border-top 1px solid base-step5

  h3
    font-size font-size-base + 1
    margin-top spacing-block-small + 2

.market-item
  .properties
    margin-top spacing-block + 30

.subscribed-confirm
  vertical-align middle
  border 1px solid base-step5
  border-top none
  padding spacing-block item-hero-padding
  width 100%
  background-color lighten(base-step5, 50%)
  p
    margin 0

.file-path
  font-family font-family-primary-bold


.related-items > li
  a
    color base-step2
    text-decoration none
    text-transform capitalize
    &:hover
      text-decoration underline

.data-previews,
.similar-datasets
  background-color white
  margin (spacing-block * 3) 0

.data-preview-contain
  border 1px solid base-step5
  padding spacing-block-small
  overflow auto

ul.tabs
  border 1px solid base-step5
  overflow hidden
  height 40px

  li.tab
    cursor pointer
    display inline-block
    padding 10px
    border-right 1px solid base-step5
    height 100%
    min-width 80px

  li.active
    border-top 2px solid blue

.preview-table
  margin 0 auto
  border-collapse collapse

.preview-table,
.table-header,
.table-data
  border 1px solid base-step4

.table-header
  text-transform capitalize
  text-align center
  padding 10px
  min-width 80px
  background-color base-step5

.table-data
  padding 10px
