@import '_variables'

.market-list > li
  a.title
    color base-step2
    text-decoration none
    &:hover
      text-decoration underline

  .vendor
    text-transform uppercase
    font-size font-size-base - 3
    color base-step4

.border-top-grey
  position absolute
  top -20px
  width 100%
  border-top 4px solid base-step5
