@import '_variables'

.market-list-item
  a.title
    color base-step2
    text-decoration none
    &:hover
      text-decoration underline

  .vendor
    text-transform uppercase
    font-size font-size-base - 3
    color base-step4

.vendor-attributes
  position relative
  padding 0 1%

.border-top-grey
  position absolute
  top -20px
  width 100%
  border-top 4px solid base-step5

.vendor-item-list-attributes
  border-top 4px solid base-step5
  padding-top list-item-padding
  margin-top -(list-item-padding)
  li
    font-size 12px
    color base-step4
    margin-bottom spacing-block-small

.vendor-item-list-value
  float right
  color action-strong-green
