div.auth.beaker-publications.sign-up
  h2 Forgot password?
  forgot-password
  .sub-action
    div
      | No Account? &nbsp;
      span.login-to-account(ui-sref="signUp") Create New Account
    div
      | Have An Account? &nbsp;
      span.login-to-account(ui-sref="signIn") Sign in
