div.auth.beaker-publications.sign-in
  h2 Sign in to Beaker
  sign-in(role="'beaker'")
  .sub-action
    div
      | No Account? &nbsp;
      span.create-account(ui-sref="signUp") Create New Account
    div
      span.login-to-account(ui-sref="forgotPassword") Forgot Password
