div.auth.beaker-publications.sign-up
  h2 Create Beaker Account
  sign-up(roles="['beaker']")
  .sub-action
    div
      | Have An Account? &nbsp;
      span.login-to-account(ui-sref="signIn") Sign in
