.sidebar-right
  contributors(ng-if="publications.list" category-id="publications.category.id")

.two-sidebars
  .main-content.publications
    publication-hero(publications='publications')
    ul.publication-list.bunsen-list
      li.bunsen-list-item(ng-repeat="publication in publications.list | orderBy:'createdAt':true")
        figure
          .category-icon(data-icon="{{publication.category.name}}")
          figcaption {{publication.category.name}}
        .publication-meta
          h2
            a.title(ui-sref="publications.items.item({id: publication.id})") {{publication.name}}
          .left
            .author(ng-if="publication.author.name")
              .name
                strong {{publication.author.name}}
              .info
                span.job-title(ng-if="publication.author['job-title']") {{publication.author['job-title']}},
                span.company {{publication.author.company}}
          .right
            ratings(average="publication.averageRating" score=0 max=5)
          p.description.cl {{publication.description | words : 30 }}
          ul.language-icons
            language-icon(ng-repeat="language in publication.languages" lang="language")

    .pagination-contain
      pagination(ng-model="publications.currentPage"
        max-size="publications.maxSize"
        items-per-page="publications.itemsPerPage"
        total-items="publications.quantity")
