input.search.full.publication-search(ng-model="publications.search", placeholder="Search published notebooks...")

.sidebar-box.sidebar-tree
  h3 Browse Categories
  ul.sidebar-box-list.publication-categories
    li
      a.sidebar-box-list-link.category(ng-class="publications.currentCategory == null && 'active'", ng-click="filterByCategory(null)") All
    li(ng-repeat="category in publications.categories | orderBy:'name'")
      a.sidebar-box-list-link.category(ng-class="publications.currentCategory == category.id && 'active'", ng-click="filterByCategory(category.id)")
        span.left {{category.name}}
        span.right.count {{category.count}}
