@import "_vendors"

.admin #app

  .admin-container
    margin: 0 auto
    width: 75%

  section.overview
    .col-half
      h3
        font-size: 18px
        margin-bottom: 25px
      a
        font-weight: bold
