.vendors-container

  .vendor-create-message
    margin: 15px 0

  .vendor-name
    clear: both
    display: block
    margin-bottom: 25px
    width: 100%

  .vendor-create
    width: 200px

    .btn
      display: inline-block
      padding-left: 20px
      padding-right: 20px
      vertical-align: top
      &.submit
        float: right
