.vendors-container

  .vendor-create-message
    margin: 15px 0

  .vendor-name
    width: 250px

  .vendor-create
    margin-bottom: 25px

    .btn
      display: inline-block
      margin-left: 10px
      padding-bottom: 10px
      padding-left: 20px
      padding-right: 20px
      padding-top: 10px
      vertical-align: top

  i.delete
    background: url(../images/trash@2x.png) no-repeat center/9px
    cursor: pointer
    display: block
    height: 30px
    margin-bottom: 15px
    width: 30px
    &:hover
      background: url(../images/trash_white@2x.png) no-repeat center/9px
      background-color: action-blue

  .vendor-list
    li
      text-indent: 33px

  .vendor-delete
    position: relative
    input
      bottom: 0
      height: 14px
      left: 0
      position: absolute
      right: 0
      top: 0
      width: 14px
