div(ng-hide="isState(['forgotPassword'])")
  sign-in(ng-class="{active: isState(['signIn'])}")
  sign-up(ng-class="{active: isState(['signUp'])}")
forgot-password(ng-if="isState(['forgotPassword'])" ng-class="{active: isState(['forgotPassword'])}")
.sub-action
  div(ng-show="isState(['signIn','forgotPassword'])")
    | No Account? &nbsp;
    span.create-account(ng-click="switchState('signUp')") Create New Account
    br
    span.retrieve-password(ng-hide="isState(['forgotPassword'])" ng-click="switchState('forgotPassword')") Forgot Password
  div(ng-show="isState(['signUp', 'forgotPassword'])")
    | Have An Account? &nbsp;
    span.login-to-account(ng-click="switchState('signIn')") Login
