.contain
  width page-width-small
  margin 0 auto
  transition width 500ms ease-in
  @media medium
    width page-width-medium

.cl
  clear both

.right
  float right

.left
  float left

.list-inline
  li
    list-style-type none
    display inline-block

.padding-reset
  padding 0 !important

.visibility-hidden
  visibility hidden

$sidebar
  width sidebar-width

.sidebar-left
  @extends $sidebar
  float left
  margin-right left-gutter-small-width
  @media medium
    margin-right left-gutter-medium-width

.sidebar-right
  @extends $sidebar
  float right
  margin-left right-gutter-small-width
  @media medium
    margin-left right-gutter-medium-width

.main-content
  float left
  width main-content-small-width
  transition width 500ms ease-in
  .sidebar-right ~ &
    width main-content-small-width - sidebar-width - right-gutter-small-width
  @media medium
    width main-content-medium-width
    .sidebar-right ~ &
      width main-content-medium-width - sidebar-width - right-gutter-medium-width
