.contain
  max-width screen-width
  min-width screen-width - 64
  margin 0 auto
  padding 0 padding-block

.cl
  clear both

.right
  float right

.left
  float left

.list-inline
  li
    list-style-type none
    display inline-block
