.notebook
  .loading
    text-align: center
    .message
      display: inline-block
      padding: 120px
    .spinner
      position relative
      top 150px

@css {
  .beaker {
    width: calc(100% - 560px);
    max-width: 1000px;
  }
}

#beaker-container
  overflow hidden
