.notebook
  .loading
    text-align: center
    .message
      display: inline-block
      padding: 120px
    .spinner
      position relative
      top 150px

.beaker-sandbox
  .notebook-container
    padding 0
