.bunsen-list
  > li
    background-color white
    padding list-item-padding list-item-padding - 2px list-item-padding - 3px
    margin-bottom spacing-block
    border 1px solid base-step5
    border-left 4px solid action-strong-green

    &.skinny
      position relative
      h2
        margin 0
        font-size font-size-base + 2

  .attributes
    border-top 4px solid base-step5
    padding-top list-item-padding
    margin-top -(list-item-padding)
    li
      font-size 12px
      color base-step4
      margin-bottom spacing-block-small

    .value
      float right
      color action-strong-green
