.dropdown-toggle
  position relative
  cursor pointer
  > .dropdown, > .dropdown-wrapper
    display none
    position absolute
    left 0
    top 30px
    z-index 10
    &.dropright
      top 0
      left 100%
    &.drop-bottom-left
      left auto
      right 0
  &:hover, &.expanded
    > .dropdown, > .dropdown-wrapper
      display block

.options
  background-image url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAQAAADGKxxEAAAAFUlEQVQYV2OY+R8EGVApCIRRZCoBAMdFNv06EG21AAAAAElFTkSuQmCC'))
  background-repeat no-repeat
  background-position center
  display inline-block
  height 30px
  width 30px
  &:hover
    background-color action-blue
    background-image url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAQAAADGKxxEAAAAFElEQVQYV2P4DwYMaBQYwinylAAAtj9Bv2dIo9IAAAAASUVORK5CYII='))
  &.light
    background-image url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAQAAADGKxxEAAAAFElEQVQYV2P4DwYMaBQYwinylAAAtj9Bv2dIo9IAAAAASUVORK5CYII='))
    &:hover
      background-color transparent

.dropdown-toggle .settings-dropdown
  top 25px

.settings
  width 25px
  height 25px
  top 8px
  display inline-block
  background url("../images/header/icon-settings.png") no-repeat center
  background-size 15px
  &:hover
    background-color action-blue
  &.light
    &:hover
      background-color transparent

.dropdown
  background-color white
  box-shadow 1px 1px 6px 1px rgba(17,17,17,0.15)
  min-width 120px
  li
    display block
    padding 0
    margin: 0
    a, span
      text-decoration none
      width 100%
      padding 12px 14px 8px 14px
      color base-step2
      font-size font-size-base
      line-height font-size-base
      display block
      &:hover
        background-color action-blue
        color white
        cursor pointer
      &.disabled
        color base-step4
        cursor default
        &:hover
          color base-step4
          background-color transparent

.dropright-arrow:after
  content "\203A"
  position absolute
  font-size 1.2em
  line-height 1.2em
  top 50%
  margin-top -0.6em
  right 11px

.dropdown .dropdown-wrapper // submenu
  padding-left 4px
