.dropdown-toggle
  position relative
  cursor pointer
  &:hover
    > .dropdown
      display block

.options
  background-image url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAQAAADGKxxEAAAAFUlEQVQYV2OY+R8EGVApCIRRZCoBAMdFNv06EG21AAAAAElFTkSuQmCC'))
  background-repeat no-repeat
  background-position center
  display inline-block
  height 30px
  width 30px
  &:hover
    background-color action-blue
    background-image url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAQAAADGKxxEAAAAFElEQVQYV2P4DwYMaBQYwinylAAAtj9Bv2dIo9IAAAAASUVORK5CYII='))
  &.light
    background-image url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAANCAQAAADGKxxEAAAAFElEQVQYV2P4DwYMaBQYwinylAAAtj9Bv2dIo9IAAAAASUVORK5CYII='))
    &:hover
      background-color transparent

.dropdown
  z-index 10
  display none
  background-color white
  box-shadow 0 2px 2px rgba(0,0,0,0.2)
  position absolute
  min-width 120px
  left 0
  top 30px
  li
    a, span
      text-decoration none
      width 100%
      padding 12px 14px 8px 14px
      color base-step2
      font-size font-size-base
      display block
      &:hover
        background-color action-blue
        color white
        cursor pointer
  &.dropright
    top 0
    left 100%
