@import '_variables'

input, textarea
  margin 0
  border 1px solid base-step5
  font-size font-size-base
  font-family inherit
  padding 9px 11px
  outline 0
  color base-step3
  background-color white
  &:focus
    border-color action-blue
  &.full
    width 100%
    margin-bottom spacing-block
    display inline-block

label.full
  display block
  margin-bottom 6px

.search
  background white url('../images/input-search.png') no-repeat 96% center
  background-size 17px 18px
  padding-right 32px
  font-style italic
