@import '_variables'

input
  border 1px solid base-step5
  font-size font-size-base
  padding spacing-block-small
  outline 0
  color base-step3
  background-color white
  &:focus
    border-color darken(base-step5, 10%)
  &.full
    width 100%
    margin-bottom spacing-block
    display inline-block

.search
  background white url('../images/input-search.png') no-repeat 96% center
  background-size 17px 18px
  padding-right 32px
