@import "_variables"

.app-header
  background-color action-strong-blue
  height 46px
  line-height 52px

.header-logo
  margin-top 10px

.header-actions-list
  li
    display inline-block
    padding 0 6px
    &:first-child
      margin-right 6px

.auth-controls
  font-size font-size-base - 2
  color white
  top -4px
  position relative
  a
    color white
