@import "_variables"

header-height = 46px

.app-header
  background-color action-strong-blue
  height header-height
  line-height header-height

.header-logo
  margin-top spacing-block-small

.header-actions-list
  > li
    display inline-block
    padding 0 6px
    &:first-child
      margin-right 6px
  img
    vertical-align middle

.auth-controls
  font-size font-size-base - 2
  color white
  position relative
  a
    color white
