.main-nav
  padding: 10px
  border-bottom: solid 2px #111
  margin-bottom: 10px

.nav-item
  margin: 5px 0 10px
  padding: 0 15px
  border-left: solid 2px #111

  &:first-child
    border-left: 0
    padding-left: 0
