.publishing.sidebar-box
  .bunsen-dropdown, .bunsen-dropdown-wrapper
    min-width 140px

.notebook .main-content > h2
  margin-top 8px
  margin-bottom 0
  padding-bottom 10px
  border-bottom 1px solid base-step5

  .name
    padding-bottom 10px

  .status
    font-style italic
    color base-step4
    font-size font-size-base
    margin-left 20px

  .down-arrow
    margin-left 10px
    font-size 12px
    color base-step4
    margin-top -1px

  .bunsen-dropdown
    min-width 160px
    top 35px

.publish-modal
  .unsaved .note
    margin-bottom 18px
  .error
    border 1px solid red
