.overview
  background-color white
  border 1px solid base-step5
  padding spacing-block + 7px spacing-block + 3px spacing-block - 4px
  margin-top 0
  &:after
    content ''
    display block
    clear both
  .col-half
    border-right 1px solid base-step5
    padding 0 spacing-block
    &:first-child
      padding-left 0
    &:last-child
      border-right none
      padding-right 0

  h4
    margin-bottom 17px

  .property-list.small, .link-list
    li
      margin-bottom 10px
