.property-list
  .label, .value
    min-height 45px
    display inline-block

  &.small
    @extend .text-small
    li
      margin-bottom 7px

    .label
      min-width 100px

    .value
      color action-strong-green

.market-item .properties .property-list
  .label, .value
    vertical-align top
    padding spacing-block-small + 4
    border-bottom 1px solid black

  .label
    border-color darken(action-strong-blue, 20%)
    background-color action-strong-blue
    width 25%
    text-transform uppercase
    color white

  .value
    width 75%
    padding-left spacing-block + 10
    border-color base-step5
    border-right 1px solid base-step5
    background-color white

  li:first-child
    .label
      border-top 1px solid transparent
    .value
      border-top 1px solid base-step5

.link-list a
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  max-width 100%
  display inline-block
  vertical-align top
  &:after
    content "\00bb"
    margin-left 0.3em

