li.notebook-move
  position: relative
  ul
    position: absolute
    left: 70px
    top: 0
    background-color: white
    border: 2px solid black
    width: 200px
    color: black
    li
      padding: 10px 10px
      border-bottom: 2px solid


.error
  font-weight: bold
  color: red
