.publications
  .category-hero
    margin-bottom: 20px

    .category
      padding: 0 gutter-width

      h2, .quantity
        font-size: 40px
        font-family: 'pt_sansbold'

    .category-information

      .description, .notebooks
        display: inline-block

      .description
        vertical-align: top
        width: 80%

      .notebooks
        border-left: 1px solid black
        padding-left: 20px
        text-align: center
        width: 20%

        .quantity
          margin-top: 8px

.publication-categories
  li
    a.active, a:hover
      .count
        color: white
