@import '_publication_cat_icons'

.publication-list
  .publication-meta, figure
    display: inline-block
    vertical-align: top
  .publication-meta
    width: 60%
  figure
    background: #fafafa
    margin-right: 7%
    text-align: center
    width: 33%

    figcaption
      color: #999999
      font-size: 15px
      margin-bottom: 20px
      text-transform: uppercase

    .category-icon
      background-position: center center
      background-repeat: no-repeat
      background-size: 100%
      margin: auto
      padding: 85px 0

    category-icon('Biology', 'biology', 46, 78, 'list')
    category-icon('Chemistry', 'chemistry', 79, 87, 'list')
    category-icon('Demographics', 'demographics', 77, 76, 'list')
    category-icon('Economics', 'economics', 65, 64, 'list')
    category-icon('Education', 'education', 100, 68, 'list')
    category-icon('Engineering', 'engineering', 65, 78, 'list')
    category-icon('Finance', 'finance', 77, 78, 'list')
    category-icon('Geospatial', 'geospatial', 69, 73, 'list')
    category-icon('Government', 'government', 77, 78, 'list')
    category-icon('Health', 'health', 77, 78, 'list')
    category-icon('Law', 'law', 76, 63, 'list')
    category-icon('Mathematics', 'mathematics', 61, 61, 'list')
    category-icon('News', 'news', 77, 59, 'list')
    category-icon('Physics', 'physics', 77, 73, 'list')
    category-icon('Politics', 'politics', 42, 91, 'list')
    category-icon('Psychology', 'psychology', 64, 78, 'list')
    category-icon('Social Media', 'social', 77, 71, 'list')
    category-icon('Travel', 'travel', 86, 69, 'list')
