.author, .contributor
  .name
    font-size 14px
    margin-left 1px

  .job-title
    font-style italic
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.author
  line-height 18px
  margin-bottom 10px

  .company
    margin-left 6px

.contributor
  line-height 16px
  margin-bottom 18px

  &:last-of-type
    margin-bottom 0

  .icon
    width 50px
    height 50px
    border-radius 50px
    overflow hidden
    float left
    margin-right 15px
    box-shadow 3px 3px 9px rgba(0,0,0,0.3)

  .name
    padding-top 3px
