.author, .contributor
  line-height 18px
  margin-bottom 10px

  .name
    font-size 14px
    margin-left 1px

  .job-title
    font-style italic

  span.company
    margin-left 6px

.contributor:last-of-type
  margin-bottom 0
