publication-cell-code-output
  // beaker saves quite a bit of HTML content
  // into html output cells that we do not want to
  // display in the publication viewer
  .out_prompt_overlay, .output, .output_collapsed
    display: none
