publication-cell
  margin: 30px 0
  display: block

publication-notebook.main-content
  float: right

  .code
    border: solid 1px base-step5

    .input, .output
      padding: 20px

    .input
      border-bottom: solid 1px base-step5

  section-headline
    font-family: 'pt_sansbold'

    &.level-1
      font-size: 30px
    &.level-2
      font-size: 25px
    &.level-3
      font-size: 20px
    &.level-4
      font-size: 15px
