ratings
  clear: both
  display: block
  position: relative
  width: 100%

.rating, .average
  display inline-block
  width: 100%
  span
    position: relative
    top: 6px

.average .rating-highlight, .rating .rating-highlight,
.average .rating-normal, .rating .rating-normal
  background url("../images/star-whole.png") no-repeat center
  position relative
  top 2px
  width 16px
  height 16px
  display inline-block
  background-size 15px

.average .rating-normal, .rating .rating-normal
  background url("../images/star-empty.png") no-repeat center
  display inline-block
  background-size 15px
