.sidebar-box
  padding spacing-block
  background-color action-strong-blue
  margin-bottom spacing-block
  &.sidebar-box-white
    border 1px solid base-step5
    border-top none
    background-color white

h3.sidebar-box-header
  padding 13px 10px 12px 14px
  background-color action-strong-green
  text-transform capitalize
  font-size font-size-medium - 2
  color white
  position relative
  &.sidebar-box-header-blue
    background-color action-blue
  &.sidebar-box-header-strong-blue
    background-color action-strong-blue

  .options
    top -7px
    right -5px

.sidebar-drop-down-icon,
.sidebar-box-header-icon
  position absolute
  top 4px
  right 0
  padding spacing-block-small spacing-block
  &:hover
    cursor pointer
    img
      opacity .8

.sidebar-box-header-icon
  padding 0
  right 10px
  top 11px

.sidebar-box-header-count
  background-color white
  padding 1px 5px 0px 5px
  text-align center
  color action-blue
  margin-right spacing-block-small - 5

.sidebar-box-list
  li
    position relative

.sidebar-box-list-link
  width 100%
  color white
  padding 13px spacing-block spacing-block-small 14px
  font-size font-size-base
  border-bottom 1px solid darken(action-strong-blue, 5%)
  text-decoration none
  display inline-block
  &.active
    background-color action-blue
    font-weight normal
  &:hover
    background-color action-blue
    border-color action-blue
    cursor pointer
    .close-notebook
      display block
    &:after
      background-color white

.with-dots .sidebar-box-list-link
  padding-left spacing-block + 17
  position relative
  &:hover
    &:after
      background-color white
  &:after
    width 6px
    height 6px
    background-color action-blue
    border-radius 50%
    content ''
    position absolute
    top 14px
    left 19px

.inline-close-notebook
  top 9px
  right 7px
  padding 3px
  display none
  &:hover
    cursor pointer
    img
      opacity .8

.inline-right-arrow
  top 14px
  right 12px

.related-tag
  display inline-block
  padding 6px 12px 2px 6px
  font-size font-size-base - 1
  background: darken(action-strong-blue, 20%)
  margin 0 8px 8px 0
  position relative
  &:after
    content ''
    position absolute
    background: darken(action-strong-blue, 20%) url('../images/tag-right-arrow.png') no-repeat center center;
    background-size contain
    width 12px
    height 7px
  a
    color white
    text-decoration none
    &:hover
      text-decoration underline

.related-tags-hidden
  height 47px
  overflow hidden

.related-tags-show-all
  text-decoration none
  font-size font-size-base - 1
  color white
  margin-top 12px
