close-icon-width = 10px

.sidebar-box
  background-color action-strong-blue
  margin-bottom spacing-block
  &.light
    background-color white
    .content
      border 1px solid base-step5
      border-top none

  .count
    float right
    color lighten(action-strong-blue, 40%)

  .content
    padding spacing-block

.sidebar-box.list
  padding 0

.sidebar-box h3
  padding 11px 10px 10px spacing-block
  background-color action-strong-green
  text-transform capitalize
  font-size font-size-base + 2px
  color white
  position relative
  .light&
    background-color action-strong-blue
  .list&
    padding-left list-spacing-block
  .open-notebooks &
    width sidebar-width
    padding-left 7px
    background-color action-blue

  .options
    top -7px
    right -5px

.sidebar-drop-down-icon,
.sidebar-box-header-icon
  position absolute
  top 4px
  right 0
  padding spacing-block-small spacing-block
  &:hover
    cursor pointer
    img
      opacity .8

.sidebar-box-header-icon
  padding 0
  right 10px
  top 11px

.sidebar-box-header-count
  background-color white
  padding 1px 5px 0px 5px
  text-align center
  color action-blue
  margin-right spacing-block-small - 5

.sidebar-box-list
  li
    position relative

.sidebar-box-list-item
  width 100%
  color white
  padding 13px spacing-block+close-icon-width spacing-block-small list-spacing-block
  border-bottom 1px solid darken(action-strong-blue, 5%)
  text-decoration none
  display block
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.sidebar-box-list-link
  @extend .sidebar-box-list-item
  &.active
    background-color action-blue
    font-weight normal
  &:hover
    background-color action-blue
    border-color action-blue
    cursor pointer
    color white
    .close-notebook
      display block
    &:before
      background-color white

  .close-notebook.active
    display block

.with-dots .sidebar-box-list-link
  position relative
  &:hover
    &:before
      background-color white
  &:before
    width 6px
    height 6px
    background-color action-blue
    border-radius 50%
    content ''
    position absolute
    top 15px
    left (list-spacing-block/2) - 2px

.inline-close-notebook
  top 9px
  right 7px
  padding 3px
  display none
  &:hover
    cursor pointer
    img
      opacity .8

.inline-right-arrow
  top 14px
  right 12px

.related-tag
  display inline-block
  padding 6px 12px 2px 6px
  font-size font-size-base - 1
  background: darken(action-strong-blue, 20%)
  margin 0 8px 8px 0
  position relative
  &:after
    content ''
    position absolute
    background: darken(action-strong-blue, 20%) url('../images/tag-right-arrow.png') no-repeat center center;
    background-size contain
    width 12px
    height 7px
  a
    color white
    text-decoration none
    &:hover
      text-decoration underline

.related-tags-hidden
  height 47px
  overflow hidden

.related-tags-show-all
  text-decoration none
  font-size font-size-base - 1
  color white
  margin-top 12px

.publish-status
  padding-left 20px
  line-height 26px
  font-style italic
  margin-bottom 6px

.publication-details
  margin-top 12px
  margin-bottom 24px

.sidebar-box.publishing
  .content .publish
    padding-left 21px
  .publish-status.public
    padding-left 26px
    line-height 25px
