treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {display:none;}
treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {display:inline;}
treecontrol li.tree-leaf i.tree-branch-head {display:none;}
treecontrol li.tree-leaf i.tree-leaf-head {display:inline;}

.sidebar-tree
  padding 0 !important

treecontrol
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  li
    position relative
    &.tree-leaf
      i
        background-color transparent

  li i
    background-color red
    width 12px
    height 12px
    position absolute
    top 10px
    left 5px

  .tree-label
    color white
    text-transform uppercase
    padding 12px 20px 10px 20px
    font-size font-size-base
    border-bottom 1px solid darken(action-strong-blue, 5%)
    &:hover
      background-color lighten(action-strong-blue, 5%)
      cursor pointer

  .tree-selected
    background-color action-blue
    .tree-category-count
      color white
    &:hover
      background-color action-blue

  .tree-leaf
    font-size font-size-base - 2

  .tree-category-count
    color lighten(action-strong-blue, 40%)

  li li li
    background-color darken(action-strong-blue, 20%)
    .tree-label
      font-size font-size-base - 2
      text-transform capitalize
    li
      background-color darken(action-strong-blue, 30%)
      .tree-label
        padding-left 36px
        border-bottom none
