.sidebar-tree
  padding 0 !important

treecontrol
  -moz-user-select -moz-none
  -khtml-user-select none
  -webkit-user-select none
  -ms-user-select none
  user-select none

  li
    position relative

  li i
    display: none

  .tree-label
    color white
    text-transform uppercase
    padding 12px spacing-block spacing-block-small spacing-block
    border-bottom 1px solid darken(action-strong-blue, 5%)
    &:hover
      background-color lighten(action-strong-blue, 5%)
      cursor pointer

  .tree-selected
    background-color action-blue
    .count
      color white
    &:hover
      background-color action-blue

  li li
    background-color darken(action-strong-blue, 20%)
    .tree-label
      text-transform capitalize
    li
      background-color darken(action-strong-blue, 30%)
      .tree-label
        padding-left 36px
        border-bottom none
