treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {display:none;}
treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {display:inline;}
treecontrol li.tree-leaf i.tree-branch-head {display:none;}
treecontrol li.tree-leaf i.tree-leaf-head {display:inline;}

.sidebar-tree
  padding 0 !important

treecontrol
  -moz-user-select -moz-none
  -khtml-user-select none
  -webkit-user-select none
  -ms-user-select none
  user-select none

  li
    position relative

  li.tree-expanded i,
  li.tree-collapsed i
    background-position center center
    background-repeat no-repeat

  li.tree-expanded i
    background-image url('../images/menu-expanded.png')
    background-size 8px 2px

  li.tree-collapsed i
    background-image url('../images/menu-collapsed.png')
    background-size 8px 8px

  li.tree-leaf i
    background-image none

  li i
    width 12px
    height 12px
    position absolute
    top 10px
    left 5px

  .tree-label
    color white
    text-transform uppercase
    padding 12px spacing-block spacing-block-small spacing-block
    font-size font-size-base + 1
    border-bottom 1px solid darken(action-strong-blue, 5%)
    &:hover
      background-color lighten(action-strong-blue, 5%)
      cursor pointer

  .tree-selected
    background-color action-blue
    li.tree-expanded i
      background-image url('../images/menu-expanded-selected.png')
    .tree-category-count
      color white
    &:hover
      background-color action-blue

  .tree-category-count
    color lighten(action-strong-blue, 40%)

  li li li
    background-color darken(action-strong-blue, 20%)
    .tree-label
      text-transform capitalize
    li
      background-color darken(action-strong-blue, 30%)
      .tree-label
        padding-left 36px
        border-bottom none
