@import '_variables'

body
  font-family font-family-primary
  color base-step2

h1, h2
  margin-bottom 10px

h1
  font-size font-size-large

h2
  font-size font-size-medium

p
  font-size font-size-base
  line-height line-height
  margin-bottom 10px

b
  font-family font-family-primary-bold
  font-weight normal
