@import '_variables'

body
  font-family font-family-primary
  color base-step2

h1, h2
  margin-bottom spacing-block-small

h1
  font-size font-size-largest

h2
  font-size font-size-medium
  margin-bottom spacing-block-small - 5

p
  font-size font-size-base
  line-height font-line-height
  margin-bottom spacing-block-small

b
  font-family font-family-primary-bold
  font-weight normal

.text-blue
  color action-blue
