@import '_variables'

body
  font-size font-size-base
  font-family font-family-primary
  color base-step2

h1, h2
  margin-bottom spacing-block-small

h1
  font-size font-size-largest

h2
  font-size font-size-medium
  margin-bottom spacing-block-small - 5
  a
    text-decoration none
    color base-step2
    &:hover
      text-decoration underline

h4
  font-size font-size-base - 1
  font-weight normal
  font-style italic
  color base-step4
  margin 0 0 spacing-block-small + 6 0

a
  cursor pointer

p
  line-height font-line-height
  margin-bottom spacing-block-small
  word-wrap break-word

b
  font-family font-family-primary-bold
  font-weight normal

.text-blue
  color action-blue

.text-green
  color action-strong-green

.text-small
  color base-step4
