@import '_variables'

.btn
  color white
  cursor pointer
  display inline-block
  padding 8px 10px 6px
  border none
  font-size font-size-base
  background-color action-strong-blue
  text-transform capitalize
  text-decoration none
  outline none
  &:hover
    background-color lighten(action-strong-blue, color-adjust-amount)
  &:active
    background-color darken(action-strong-blue, color-adjust-amount)
  &.btn-block
    display block
    text-align center
  &.btn-primary
    background-color action-blue
    &:hover
      background-color lighten(action-blue, color-adjust-amount)
    &:active
      background-color darken(action-blue, color-adjust-amount)
  &.btn-light
    border 1px solid darken(base-step5, color-adjust-amount)
    background-color base-step5
    color base-step3
    &:hover
      background-color lighten(base-step5, color-adjust-amount)
    &:active
      background-color darken(base-step5, color-adjust-amount)

.btn-group
  margin: 5px 0
  .btn
    margin-right: 5px

.tag
  color white
  padding 6px 20px 4px 7px
  background action-blue url('../images/small-remove-white.png') no-repeat right 8px center
  background-size 8px 8px
  display inline-block
  font-size font-size-base - 2
  margin 4px 4px 4px 0
  &:hover
    cursor pointer
    background-color lighten(action-blue, 20%)

a.active
  font-weight bold

.base-row-item-green
  background-color white
  padding list-item-padding list-item-padding - 2px list-item-padding - 3px
  margin-bottom spacing-block
  border 1px solid base-step5
  border-left 4px solid action-strong-green

.inline-icon-sidebar
  position absolute
  z-index 10

.toggle-drop-down:hover
  cursor pointer

.section-padding
  margin spacing-block * 2 0
  &.section-padding-top
    margin-top 0
