action-blue = #25a7f3
action-soft-green = #b0e906
action-soft-blue = #b6e0fc
action-soft-blue-light = #e6f9ff
action-strong-green = #6fc21d
action-strong-blue = #40556b
base-step1 = #111111
base-step2 = #333b3b
base-step3 = #515a5a
base-step4 = #999999
base-step5 = #e6e6e6

font-size-largest = 21px
font-size-medium  = 18px
font-size-base    = 12px
font-line-height  = 18px

color-adjust-amount = 5%

font-family-primary = 'pt_sansregular', Helvetica, sans-serif
font-family-primary-bold = 'pt_sansbold', Helvetica, sans-serif

spacing-block = 20px
spacing-block-small = 10px

screen-width = 1024px
