global-reset()

@import "_header"
@import "_variables"
@import "_type"
@import "_base"
@import "_form"
@import "_fonts"
@import "_tree_view"
@import "_sidebar_ui"
@import "_ui"
@import "_nav"
@import "_project_sidebar"
@import "_project"
@import "_beaker_notebooks"
@import "_pagination"
@import "_drop_down_menu"
@import "_overview_box"
@import "_bunsen_list"
@import "_property_lists"
@import "_modal"
@import "_notices"

@import "marketplace/_vendor_item"
@import "marketplace/_category_hero"
@import "marketplace/_market_item"
@import "marketplace/_filter"

@import "project/_notebook_list"
@import "_notebook"

@import "_publication_cells"

*
  box-sizing border-box

body
  background white url('../images/bg-pattern.png') repeat 0 0
  background-size 50px 50px

*[class*=col-]
  float left
  box-sizing border-box
  padding 0 gutter-width
  vertical-align top

.col-quarter
  width: 25%
  &.col-expanded-lrg-display
    @media screen and (min-width: 1400px)
      width 18%

.col-half
  width: 50%
  &.col-expanded-lrg-display
    @media screen and (min-width: 1400px)
      width 64%

.col-three-quarters
  width: 75%

.col-outside
  padding 0

.col-outside-left
  padding-left 0
