global-reset()

@import "_tree_view"
@import "_ui"
@import "_nav"
@import "_project_sidebar"
@import "pagination.css"

html
  font-family: helvetica

*[class*=col-]
  float: left

.col-quarter
  width: 25%

.col-half
  width: 50%

.col-three-quarters
  width: 75%

.cl
  clear: both

.right
  float: right

.left
  float: left
