.disk-usage
  margin-bottom: 23px
  .bar, .progress
    height: 15px
  .bar
    background-color: #D6D4D4
  .progress
    background-color: action-strong-green
  p
    margin-top: 12px
    color: base-step4
  .gigabytes
    color: action-strong-green
