.base-row-item-skinny
  h2
    margin 0
    font-size font-size-base + 2

  .base-row-item-green
    padding spacing-block-small + 5

.notebook-options
  margin-left spacing-block-small + 4
  margin-top 2px
  position relative
  img
    top 2px
    position relative
