.base-row-item-skinny
  position relative
  h2
    margin 0
    font-size font-size-base + 2

  .base-row-item-green
    padding spacing-block-small + 5

.notebook-last-used
  margin-right spacing-block + 20

.notebook-options
  right 15px
  top 17px
  position absolute
  img
    top 2px
    position relative
