.project-overview
  border 1px solid base-step5
  padding spacing-block spacing-block-small spacing-block-small spacing-block-small
  .col-half
    border-right 1px solid base-step5
    margin 0
    padding 0 10%
    width 50%
    &.col-last
      border-right none

  .project-first-col
    padding-left 3%

.property-list-item
  margin-bottom spacing-block-small - 3

.project-property-label,
.project-property-value
  display inline-block

.project-property-label
  min-width 110px

.project-property-value
  color action-strong-green

.last-updated
  text-transform lowercase
