file-upload-list
  display: inline-block

.file-upload-list .ng-modal-dialog-content
  max-height: 450px
  overflow: auto

.file-list-item
  margin: 5px
  border-bottom: solid 1px base-step5
  padding: 10px 0
