file-upload-list
  display: inline-block

.file-upload-list .ng-modal-dialog-content
  max-height: 450px
  overflow: auto

table.file-list
  width: 100%
  tr.file-list-item
    td
      margin: 5px
      border-bottom: solid 1px base-step5
      padding: 10px 0
      &.size
        text-align: right
