.create-publication
  h1 Welcome to Beaker Publications!
  p
    | To get started, you'll first need to create an account&nbsp;
    a(ui-sref="signUp") create an account
    | . Once you have an account, you can begin publishing your notebooks from within Beaker.
    | There is an option within the File menu of Beaker to 'Publish'.
    | You must be logged in to Beaker or enter your credentials at the time of publication.
    | A description of the notebook and a category are required.
    | If you have any questions&nbsp;
    a(href="mailto:xyz@beakernotebook.com") please contact us
    | .

