.publication
  .main-content
    section.item-hero
      h1.name {{publication.name}}
      p.publish-date Published: {{publication.createdAt | date : 'M/d/yy' : 'UTC'}}
      p.description {{publication.description}}
      ratings(score="publication.userRating" average="publication.averageRating" max="5" publication-id="publication.id")
      .details.cl
        div.publication-control
          a.btn.btn-primary.right.copy-notebook(ng-href="{{downloadNotebookUrl()}}") Download Notebook
          .btn.btn-primary.right.destroy-publication(ng-if="isOwner", ng-click="destroyPublication()") Delete Publication
          .cl

  publication-notebook.main-content(publication="publication")
