.forgot-password.overview
  h1 {{message}}
  br
  form.change(name="changePasswordForm", ng-submit="submitPassword(changePasswordForm.$valid)")
    label(for='user-password') New Password
    br
    input.full(ng-model="user.password", type="password", name="password", id="user-password", placeholder="Password", required, ng-minlength=6)
    p(ng-show="showPasswordValidationErrorMessage(changePasswordForm)") Password must be at least 6 characters
    br
    input.full.btn(type="submit", value="Change Password")
