.contributors.sidebar-box.light
  h3 Top Contributors
  .content
    ul
      li.contributor(ng-repeat="contributor in contributors")
        img.icon.top-contributor-icon(gravatar-src="contributor.email" gravatar-size="100" gravatar-default="retro")
        .name
          strong {{contributor.name}}
        .job-title {{contributor['job-title']}}
        .company {{contributor.company}}
        .cl
