.ng-modal(ng-class="class")
  .ng-modal-overlay(ng-click="modalShown = false")
  .ng-modal-dialog(style="{{width && 'width:' + width}}")
    .ng-modal-close(ng-click="modalShown = false") &times;
    .ng-modal-dialog-content
      section
