.notebook
  .sidebar-right
    .publishing.sidebar-box.light
      h3
        | Publishing
        span.options.bunsen-dropdown-toggle.light.right
          ul.bunsen-dropdown.drop-bottom-left
            li(ng-if="!published")
              a.publish(ng-click="openPublishModal()") Publish notebook
            li(ng-if="published")
              a.update-publication(ng-click="openPublishModal()") Update published
            li(ng-if="published")
              a.destroy-publication(confirm="Are you sure you want to delete the publication for this notebook?" on-confirm="destroyPublication()") Remove published
      .content
        .publish-status.text-small(ng-class="published ? 'public' : 'private'") This notebook is {{ published ? 'published' : 'currently private' }}
        ul.publication-details.property-list.small(ng-if="published")
          li
            .label Published
            .value.publish-time {{notebook.current.publication['created-at'] | date:'short'}}
          li
            .label Last updated
            .value.update-time {{notebook.current.publication['updated-at'] | date:'short'}}
        a.view-published(ng-if="published" ui-sref="publications.items.item({id: notebook.current.publication['public-id']})") View published version &raquo;
        a.publish(ng-if="!published" ng-click="openPublishModal()") Publish this notebook &raquo;

  .two-sidebars
    .main-content
      .title-bar(sticky)
        span.options.bunsen-dropdown-toggle.right.expanded.beaker-sandbox(ng-mouseover="showMenu()" ng-mouseleave="hideMenu()")
            bk-dropdown-menu.bunsen-dropdown.drop-bottom-left(ng-if="menu", menu-items="menuItems()")

        h2
          fullscreen-toggle
          a.project(ui-sref="projects.items.item({id: notebook.current.project['public-id']})") {{notebook.current.project.name}}
          | /
          span.name(ng-class="otherOpenNotebooksExist() && 'bunsen-dropdown-toggle'")
            {{notebook.current.name}}
            span(ng-if="edited()") *
            .down-arrow.glyphicon.glyphicon-chevron-down(ng-if="otherOpenNotebooksExist()")
            ul.bunsen-dropdown(ng-if="otherOpenNotebooksExist()")
              li
                span Other Open Notebooks
              li(ng-repeat="notebook in notebooks.list | filter:otherOpenNotebooks | orderBy:'openedAt':true")
                a(ng-click="openNotebook(notebook)") {{notebook.name}}
          span.status(ng-if="beakerReady() && getLoadingMessage()") ({{getLoadingMessage()}})
      .loading(ng-if="!beakerReady()")
        bunsen-spinner
      .warning(ng-if="warning") {{warning}}
