h1 Categories

treecontrol.admin-categories(
  tree-model="treeData",
  options="treeOptions",
  expanded-nodes="expandedNodes",
  on-node-toggle="onTreeExpansion(node, expanded)")

  category-editor(ng-click="checkTarget($event)")
