.two-sidebars
  bk-main-app.beaker-sandbox.main-content(ng-if="beakerSessionId"
    notebook="beakerNotebook"
    session-id="{{beakerSessionId}}"
    allow-document-renaming="false"
    open="{{openFromUri}}")
