.col-three-quarters
  h2
    a.title(ui-sref="marketPlace.items.item({catalogId: item.catalog, id: item.id})") {{item.title}}
  p.description {{item.description | limitTo:100}} {{item.description.length > 100 ? "..." : ""}}
  .vendor
    | Vendor:&nbsp;
    span.vendors {{item.vendor.name}}
.col-quarter
  ul.attributes
    li(ng-if="item.format")
      span.label Format:&nbsp
      span.value.format {{item.format}}
    li(ng-if="item.lastUpdated")
      span.label Updated:&nbsp
      span.value.last-updated {{item.lastUpdated | date: 'shortDate'}}
    li
      ratings(average="item.average" score=0 max=5)
    li(ng-if="isAdmin")
      a.edit.admin-action(ui-sref="admin.datasets.edit({catalogId: item.catalog, id: item.id})") Edit Marketplace Items
.cl
